<%- include('../partials/head.ejs') %>
</head>
<body class="min-h-screen bg-gray-100 text-gray-900">
      
     <%- include('../partials/nav.ejs')%>

    <main class="container mx-auto px-4 py-10">
        <div class="text-center mb-10">
            <div class="text-9xl mb-4">🏡</div>
            <h1 class="text-5xl font-extrabold text-rose-600 mb-6">All Host Homes</h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <% homes.forEach(home => { %>
                <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 flex flex-col p-6">
                    <img src="<%= home.photourl %>" alt="Home Image" class="w-full h-48 object-cover mb-4 rounded-md">
                    <h1 class="text-2xl font-semibold text-blue-800 mb-2 text-left"><%= home.housename %></h1>
                    <p class="text-yellow-500 mb-2 text-left">⭐️<%= home.rating %>/5</p>
                    <h2 class="text-gray-800 mb-2 text-left">📍<%= home.location %></h2>
                    <div class="flex justify-between items-center mt-auto">
                        <p class="text-2xl font-bold text-blue-600">Rs<%= home.price %></p>
                        <a href="/edit-home/<%= home.id %>?editing=true" class="ml-4 px-4 py-2 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-600 transition duration-200">
                            EDIT
                        </a>
                       
                    </div>
                    
                    <div class="flex flex-col text-gray-600 text-sm mb-4">
                        <!-- <p class="mb-1">Features: <span class="font-medium"><%= home.features %></span></p>
                        <p>Description: <span class="font-medium"><%= home.description %></span></p> -->
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
</body>
</html>